skeleton.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="advertisements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="advert" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="price" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="fixedValue" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="deductibleVAT" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="plateNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="url" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="brand" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="model" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="series" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="version" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="month" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="year" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="condition" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="fuel" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="advertiser" maxOccurs="1" minOccurs="0"/>
              <xs:element name="mileage" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="horsePower" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="displacement" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="autonomy" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="consumption" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CO2Emissions" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="takeBack" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="financing" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="segment" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="color" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="metallic" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="transmission" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="numberOfGears" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="numberOfDoors" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="numberOfSeats" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="numberOfAirbags" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="vehicleClass" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="traction" maxOccurs="1" minOccurs="0"/>
              <xs:element name="iuc" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="particlesFilter" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="inspectionValidUntil" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="numberOfRegisters" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="origin" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="reviewBook" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="secondKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="alloyWheels" maxOccurs="1" minOccurs="0"/>
              <xs:element name="alloyWheelsSize" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="units" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="upholstery" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="airConditioning" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="warranty" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="mechanicalWarranty" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="orUntil" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="roofTop" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="electricRoofTop" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="nonSmoker" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="cabrio" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="vin" maxOccurs="1" minOccurs="0"/>
              <xs:element name="extras">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="extra" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:long" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
